.main {
    background-color: white;

}
.form-search {
    float: right;
    display: flex;
    align-items: center;
}

* {
    font-family: sans-serif;
}

 .form-search input[type=text] {
    padding: 12px 12px 14px 50px;
    position: relative;
 
}
.icon-input-btn{
    display: inline-block;
    position: relative;
    background-color: red;
    height: 45px;
    /* left: -35px; */
    /* top: -7px; */
}
.icon-input-btn input[type="submit"]{
    /* padding-left: 2em; */
    border: none;
    background: no-repeat;
    height: 47px;
    width: 100px;
}
.icon-input-btn .fa{
    display: inline-block;
    position: absolute;
    left: 0.65em;
    top: 30%;
}

.search-icon #search {
    position: relative;
    top: -46px;
    left: 297px;
    height: 45px;
    background-color: red;
}

.logo {
    position: relative;
    top: -20px;
}

.air-img {
    border-radius: 42px;
}

span {
    border: 2px solid gray;
    border-radius: 10px;
}
.p1 {
    color: lightgray;
}
.main-air{
    margin: 0 auto;
    width:1100px ;
    display: grid ;
    grid-template-columns:  auto auto auto ;
    gap: 10px;
}
.air {
    justify-self: center;
}
#star {
    position: relative;
    top: 34px;
}

.btn1 {
    position: relative;
    height: 48px;
}

.isreal {
}

.adult {
    border: 1px solo #fff;
    background: wheat;
    float: right;
    position: relative;
    left: -227px;
    text-align: center;
    width: 20px;
    height: 20px;
}
.adult p {
    position: relative;
    top: -13px;
}

.adult .a {
    position: relative;
    top: -79px;
}

.adult .b {
    position: relative;
    top: -74px;
    left: 38px;
}